<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyKhr5fF4lbkq_r73X18IVlrqiwXtZmZE</string>
	<key>GCM_SENDER_ID</key>
	<string>864726087284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>karthikreddy.GEVS1</string>
	<key>PROJECT_ID</key>
	<string>gevs1-3ba2b</string>
	<key>STORAGE_BUCKET</key>
	<string>gevs1-3ba2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864726087284:ios:92de2a4ff891ef44430321</string>
</dict>
</plist>